.about-section {
  display: flex;
  justify-content: space-around;
  color: var(--text-main);
  max-width: 1510px;
  margin: 0 auto;
  padding: 69px;
  flex-direction: row;
  align-items: center;
}

.about-text {
  color: var(--text-main);
  text-align: right;
}

.about-title {
  font-size: 32px;
}

.about-desc {
  max-width: 400px;
}
